body {
background: #FFB6C1;
font-family: TimesNewRoman;
}
h1 {
color: Black;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: #FFE4E1;
}
.assign img {
width: 200px;
padding: 10px;
}
