body {
  background: #89CFF0;
  font-family: Times New Roman
  display: flex;
 flex-wrap: wrap;
}
h1 {
  color: #673147
  text-align: center;
  width: 100%;
}
h1:hover {
 color: #5374E7;
 width: 100%;

}
a {
 text-decoration: none;
 color: #000000;
}

.assign {
  background-color: grey;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  width: 20%;
  box-shadow: 8px 8px brown;
}

.assign img {
width: 200px;
padding: 10px;
border: 2px "dashed" #000000;
}

 
.assign img:hover {
  width: 200px
  margin: 10px;
  border: 2px dotted 
  color: #E874E7; 
}
