body {
background: [powderblue];
font-family: TimesNewRoman;
}
h1 {
color: [Black];
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: [powderblue];
}
.assign img {
width: 200px;
padding: 10px;
}
